In [8]:
#Q1

#we we have a start & end condition we use for loop
l1 = [1,2,3,4,5]
for i in l1:
    print(i)

1
2
3
4
5

In [9]:
#when we do not have a specified starting & end condition, we use while loop
j = 0
while (j <11):
    print(j)
    j+=1

0
1
2
3
4
5
6
7
8
9
10

In [12]:
#Q2 - Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

n = 1
res = 0
while n <=10:
    res += n
    n+=1
print(res)

55

In [4]:
#Q3

#Electric Bill

unit = int(input("Enter your units: "))
bill = 0

if unit <= 100:
    bill = unit * 4.5
    
elif (unit > 100 and unit <= 200):
    bill = (100* 4.5) + (((unit-100)) * 6)
    
elif (unit > 200 and unit <= 300):
    bill = (100 * 4.5) + (100 * 6) + ((unit-200) * 10)
    
elif (unit > 300):
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((unit-300) * 20)
else:
    bill = 0
print(bill)

Enter your units:  310

2250.0

In [25]:
#Q4 Finding the cubes of 1 to 100 which are divisible by 4 or 5

In [26]:
l1 = list(range(0,101))
cube = 0
out=[]
for i in l1:
    cube = i*i*i
    if cube%4 == 0 or cube%5 == 0:
        out.append(cube)

In [27]:
# Q5. Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [28]:
out

[0,
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [30]:
# Q5 counting the string


vowels = ['a', 'e','i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
s = "I want to become a data scientist"
count = 0
for i in s:
    if i in vowels:
        count +=1
print(count)

12