#Q1
program to accept percentage from the user and display the grade

In [57]:
marks = int(input("Enter your Marks: "))
grade = ""
if marks > 90:
    grade = "A"
elif marks > 80  and marks <= 90:
    grade = "B"
elif marks > 60  and marks <= 80:
    grade = "C"
elif marks < 60:
    grade = "D"
else:
    print("Invalid Input")
    
grade

Enter your Marks:  90

'B'

#Q2 Cost price of bike and display the Road tax to be paid according to the following criteria

In [13]:
price = int(input("Enter the Cost price of the Bike: "))
tax = ""
if price > 100000:
    tax = "15%"
elif price > 50000  and price <= 100000:
    tax = "10%"
elif price < 50000 and price > 0:
    tax = "5%"
else:
    print("Invalid Input")
tax

Enter the Cost price of the Bike:  -10

Invalid Input

''

#Q3 Accept any city from the user and display monuments of that city

In [16]:
city = input("Enter the name of indian city you like : ")

if city.lower() == "delhi":
    print("Red Fort")
elif city.lower() == "agra":
    print("Taj Mahal")
elif city.lower() == "jaipur":
    print("Jal Mahal")
else:
    print("Sorry Try Again")

Enter the name of indian city you like :  nagpur

Sorry Try Again

#Q4 Check How many times a number can be divided by 3 before it is less than or equal to 10

In [53]:
num = int(input("Enter the number you want to test: "))
count = 0
if num >=10:
    while num >=10:
        num = num/3
        count +=1
        continue
else:
    print("add another number")
count

Enter the number you want to test:  81

2

#Q5 Why and when to use the while Loop

- We use While loops in case when need a condition to be meet and to be strictly follow.

- e.g. in above example, num should always be greater than 10. we used "while num >=10:"

- this clearly made a distinction about a num should always be greater than 10 is going to be in the loop.

- hence the loop flows not in a specified interval, but flows as per the given condition

#Q6 Nested While Loopss to print 3 different patterns

In [20]:
#pattern1
i = 1
while i <=5:
    j = 1
    while j <= i:
        print("*", end =" ")
        j+=1
    print("")
    i+=1

*
* *
* * *
* * * *
* * * * *

In [40]:
#pattern 2
i = 1
while i <=5:
    j = 1
    while j <= i:
        print(j, end =" ")
        j+=1
    print("")
    i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
#pattern 3
i = 5
while i >= 0:
    j = 0
    while j <= i:
        print("*", end = " ")
        j+=1
    print("")
    i-=1

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [56]:
last = 10
first = 0
while last > first:
    print(last)
    last -= 1

10
9
8
7
6
5
4
3
2
1